.x-window-printtool {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.x-window-header {
    text-align: left;
}

.tooltip_header, .tooltip_footer {
  margin: 1px;
  padding: 4px;
  font-family: tahoma,arial;
  font-size:11px;
  letter-spacing:0;
  text-align: left;
}
.tooltip_header {
  background-color: #eee;
}
.tooltip_footer {
  background-color: white;
}
.x-tool-close {
    background-image: url(../images/close_button.png);
    background-position: center center;
}

.feature-popup .gx-popup-anc {
    display: none;
}

.feature-popup .x-window-body {
  height: expression( this.scrollHeight > 279 ? "280px" : "auto" ) !important;
  max-height: 280px !important;
}
