.x-window-printtool {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.x-window-header {
    text-align: left;
}

.tooltip_header, .tooltip_footer {
  padding: 4px;
  font-family: tahoma,arial;
  font-size:11px;
  letter-spacing:0;
  text-align: left;
}
.tooltip_header {
  background-color: #eee;
}
.tooltip_footer {
  background-color: white;
}
.x-tool-close {
    background-image: url(../images/close_button.png);
    background-position: center center;
}

.feature-popup .gx-popup-anc {
    display: none;
}

.feature-popup .x-window-mc {
    background-color: white;  
}

.feature-popup .x-grid3-row-over {
    /* same style as .x-grid3-row-selected */
    background-color: #CCCCCC !important;
    background-image: none;
    border-color: #ACACAC;
}

.feature-popup .window-feature-footer {
    font-family: tahoma,arial;
    font-weight: bold;
    font-size: 11px;
    color: #555555;
}

.feature-popup .x-window-bc {
    height: 32px;
}

.feature-popup div.x-grid-group-title {
    background-color: #F0F0F0;
}
