
.x-btn-no-over .x-btn-tl, .x-btn-no-over .x-btn-tc, .x-btn-no-over .x-btn-tr,
.x-btn-no-over .x-btn-ml, .x-btn-no-over .x-btn-mc, .x-btn-no-over .x-btn-mr,
.x-btn-no-over .x-btn-bl, .x-btn-no-over .x-btn-bc, .x-btn-no-over .x-btn-br {
     background-image: none;
}


/*************************/

.advanced-menu {
    font-size: 12px;
}
.x-btn button {
    color: black;
    font-size: 12px;
}

.x-btn-over button {
    color: #ff0000 !important;
}

.x-toolbar .collapse, .x-toolbar .link, .x-toolbar .print {
    font-weight: bold;
}

.x-toolbar .collapse {
    background-image: url(../images/tb_fullscreen_logo.png);
}

.x-toolbar .x-btn-over .collapse {
    background-image: url(../images/tb_fullscreen_logo_over.png);
}

.x-toolbar .print {
    background-image: url(../images/tb_print_logo.png);
}

.x-toolbar .x-btn-over .print {
    background-image: url(../images/tb_print_logo_over.png);
}

.x-toolbar .tools {
    background-image: url(../images/tb_tools_logo.png);
}

.x-toolbar .x-btn-over .tools {
    background-image: url(../images/tb_tools_logo_over.png);
}

.x-btn-text-icon .x-btn-icon-small-right .x-btn-text {
    padding-right: 25px;
}

.x-toolbar .permalink button {
    font-weight: bold;
}

 .x-toolbar .x-btn-icon .print {
    margin-top: -3px;
}

.ext-ie .x-menu-floating {
   top: 152px !important;

}

.x-btn-no-over .x-btn-tl, .x-btn-no-over .x-btn-tc, .x-btn-no-over .x-btn-tr,
.x-btn-no-over .x-btn-ml, .x-btn-no-over .x-btn-mc, .x-btn-no-over .x-btn-mr,
.x-btn-no-over .x-btn-bl, .x-btn-no-over .x-btn-bc, .x-btn-no-over .x-btn-br {
    background-image: none;
}

/* Advanced menu */
.x-menu-floating {
   border-color: #000000;
}

.x-menu-list a:link, .x-menu-list a:active, .x-menu-list a:visited {
    color: #000000;
}

.x-menu-list {
    background-color: #FFFFFF;
}

.x-menu-floating {
   top: 151px !important;
   border-top-width: 0px;
}
.ext-ie .x-menu-floating {
   top: 152px !important;
}

.advanced-menu .x-menu-item-active, .x-menu-item-active a.x-menu-item {
    background: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF !important; 
}

.advanced-menu .x-menu-item-active .x-menu-item-text {
    color: #FF0000 ;
}