.bodsearch {
    border-top: 1px solid #ddd;
    white-space: normal;
}

.bodsearch .bodsearch_header {
    background-color: #eee;
}

.bodsearch .office-provider,
.bodsearch .bod-title {
    margin-bottom: 10px;
}

.bodsearch .bod-title {
    color: red;
}

.bodsearch .match {
    color: #333;
    background-color: #999;
}

.bodsearch .bodsearch-details {
    float: right;
    width: 17px;
    height: 19px;
    background-image: url(../images/info_button_black.png);
}
