.x-window-printtool {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.x-window-header, .x-combo-list {
    text-align: left;
}

.bodsearch {
    white-space: normal;
    font-family: tahoma,arial;
    font-size:11px;
    letter-spacing:0;
    text-align: left;
}

.bodsearch.x-combo-list-item {
    border-top: 1px solid #ddd;
}

.bodsearch .bodsearch_header {
    background-color: #eee;
    margin: 1px;
    padding: 4px;
}

.x-combo-list-item.bodsearch .bodsearch_header {
    background-color: transparent;
}

.bodsearch .bodsearch_footer {
    background-color: white;
    margin: 1px;
    padding: 4px;
}

.bodsearch .office-provider,
.bodsearch .bod-title {
    margin-bottom: 2px;
}

.bodsearch .bod-title {
    color: red;
}

.bodsearch .office-provider {
    color:red;
    font-style:italic;
    margin-bottom:5px;
    margin-top:1px;
}

.bodsearch .match {
    color: #333;
    background-color: #999;
}

.bodsearch .bodsearch-details {
    float: right;
    width: 17px;
    height: 19px;
    background-image: url(../images/info_button_black.png);
}

.bodsearch table td, .bodsearch table th{
   padding: 0 0 0 5px;    
}

.x-tool-close {
    background-image: url(../images/close_button.png);
    background-position: center center;
}

.x-tool-infoTool {
   background-image:url(../../images/info_logo_red.png);
   margin-top:-3px;
   height: 19px;
}

.x-tool-infoBox {
   background-image: none;
   margin-top:1px;
   width: 42px;
}

.x-tool-pipe4 {
   background-image:url(../../images/tb_pipe_transparent.png);
   width: 375px;
   height:23px;
   margin-top:-10px;
}
