.geoadmin-catalog-tree .x-tree-node a span,
.geoadmin-catalog-tree .x-dd-drag-ghost a span {
    color: #333;
}

.geoadmin-catalog-tree .x-tree-node-icon,
.geoadmin-catalog-tree .x-tree-icon,
.geoadmin-catalog-tree .x-tree-ec-icon,
.geoadmin-catalog-tree .x-tree-lines .x-tree-elbow-plus,
.geoadmin-catalog-tree .x-tree-lines .x-tree-elbow-minus,
.geoadmin-catalog-tree .x-tree-lines .x-tree-elbow-end-plus,
.geoadmin-catalog-tree .x-tree-lines .x-tree-elbow-end-minus,
.geoadmin-catalog-tree .x-tree-lines .x-tree-elbow-line,
.geoadmin-catalog-tree .x-tree-lines .x-tree-elbow,
.geoadmin-catalog-tree .x-tree-lines .x-tree-elbow-end {
    display: none;
}
.geoadmin-catalog-tree .x-tree-node .x-tree-selected {
    background-color: #ff0000 !important;
}
.geoadmin-catalog-tree .x-tree-node .x-tree-selected .x-tree-node-anchor span {
    color: white;
}
.geoadmin-catalog-tree .x-tree-node .x-tree-node-over {
    background-color: white;
}
.geoadmin-catalog-tree .treelayerpipe {
  float: left;
  margin-top: 2px;
  padding: 0 !important;
  width: 1px;
  height: 19px !important;
  cursor: pointer;
  background-image: url(../../images/lt_pipe.png);
}
.geoadmin-catalog-tree .treelayericon,
.geoadmin-catalog-tree .treelayericon-queryable{
  float: left;
  margin-top: -14px;
  margin-left: 2px;
  padding: 0 !important;
  width: 17px;
  height: 19px !important;
  cursor: pointer;
  background-repeat: no-repeat;
}
.geoadmin-catalog-tree .treelayericon {
  background-image: url(../../images/layer_not_queryable.png);
}
.geoadmin-catalog-tree .treelayericon-queryable {
  background-image: url(../../images/layer_queryable.png);
}
.geoadmin-catalog-tree .nodeLT1,
.geoadmin-catalog-tree .nodeLT1selected {
    border-bottom:1px solid #ccc;
    font-weight: bold;
    text-indent: 1em;
    padding: 1px 0 1px 0;
    clear: left;
}
.geoadmin-catalog-tree .nodeLT1selected {
    background-color: white !important;
}
.geoadmin-catalog-tree .nodeLT1selected .x-tree-node-anchor span {
    color: red !important;
    clear: left;
}
.geoadmin-catalog-tree .nodeLT2, 
.geoadmin-catalog-tree .nodeLT2selected {
    border-bottom:1px solid #ccc;
    text-indent: 2em;
    padding: 1px 0 1px 0;
    clear: left;
}
.geoadmin-catalog-tree .nodeLT2selected {
    background-color: white !important;
}
.geoadmin-catalog-tree .nodeLT2selected .x-tree-node-anchor span {
    color: red !important;
    clear: left;
}
.geoadmin-catalog-tree .x-tree-node-leaf,
.geoadmin-catalog-tree .x-tree-node-leaf * {
  cursor: default;
}

.geoadmin-catalog-tree .nodeLT3,
.geoadmin-catalog-tree .nodeLT3selected {
    border-bottom:1px solid #ccc;
    text-indent: 1.5em;
    padding: 1px 0 1px 0;
    clear: left;
}
.geoadmin-catalog-tree .nodeLT3selected {
    background-color: white !important;
}
.geoadmin-catalog-tree .nodeLT3selected .x-tree-node-anchor span {
    color: red !important;
    clear: left;
}
.geoadmin-catalog-tree .x-tree-node-anchor {
    text-decoration:none !important;
}
.geoadmin-catalog-tree .nodeBackgroundSelected {
    background-color: red !important;
}
.geoadmin-catalog-tree .nodeBackgroundSelected .x-tree-node-anchor span {
    color: white !important;
}
.geoadmin-catalog-tree .x-tree-node-cb {
  vertical-align: middle;
  visibility: hidden;
}
.geoadmin-catalog-tree .x-tree-node-loading a span {
    font-style:normal;
}
.geoadmin-catalog-tree .nodeLT3 .treelayerlink,
.geoadmin-catalog-tree .nodeLT3selected .treelayerlink {
  float: left;
  padding: 0 !important;
  width: 17px;
  height: 19px !important;
  cursor: pointer;
}
.geoadmin-catalog-tree .nodeLT3 .treelayerlink {
  background-image: url(../../images/info_button_black.png);
}
.geoadmin-catalog-tree .nodeLT3selected .treelayerlink {
  background-image: url(../../images/info_button_white.png);
}
.geoadmin-catalog-tree .checkboxOff,
.geoadmin-catalog-tree .checkboxOn {
  float: left;
  margin-top: 2px;
  margin-left: 2px;
  padding: 0 !important;
  width: 19px;
  height: 19px !important;
  cursor: pointer;
  background-image: url(../images/lt_selection-sprite.png);
}
.geoadmin-catalog-tree .nodeBackgroundSelected .checkboxOff,
.geoadmin-catalog-tree .nodeBackgroundSelected .checkboxOn {
  margin-top: 1px;
}
.geoadmin-catalog-tree .checkboxOff {
  background-position: -17px 0;
}
.geoadmin-catalog-tree .nodeBackgroundSelected .checkboxOff {
  background-position: -17px 19px;
}
.geoadmin-catalog-tree .checkboxOn {
  background-position: 0 0;
}
.geoadmin-catalog-tree .nodeBackgroundSelected .checkboxOn {
  background-position: 0 19px;
}
.geoadmin-catalog-tree .layerNodeTools {
  float: right;
  clear: left;
  height: 19px !important;
  margin-top: -25px;
  width: 45px;
}
.ext-safari .geoadmin-catalog-tree .treelayericon,
.ext-safari .geoadmin-catalog-tree .treelayericon-queryable{
  margin-top: 3px;
}
.ext-chrome .geoadmin-catalog-tree .treelayericon,
.ext-chrome .geoadmin-catalog-tree .treelayericon-queryable{
  margin-top: 4px;
}
.ext-safari .geoadmin-catalog-tree .layerNodeTools {
  margin-top: -25px;
}
.ext-ie .geoadmin-catalog-tree .layerNodeTools {
  margin-top: -20px;
}
.ext-ie .geoadmin-catalog-tree .treelayericon,
.ext-ie .geoadmin-catalog-tree .treelayericon-queryable {
  margin-top: 0px !important;
}
.ext-ie7 .geoadmin-catalog-tree .treelayericon-queryable, .ext-ie7 .geoadmin-catalog-tree .treelayericon {
  margin-top: -18px !important;
}
.ext-ie7 .geadmin-catalog-tree .x-tree-node {
  height: 22px;
}
