.x-toolbar .gx-map-measurelength   {
    background-image: url("../images/measure_length.gif") !important;
    height: 70px !important;
    width: 50px !important;
    background-position: 0 0;
}

.x-toolbar .gx-map-measurearea {
    background-image: url("../images/measure_area.gif") !important;
    height: 70px !important;
    width: 50px !important;
   background-position: 0 0 !important;     
}

.x-btn-text .gx-map-measurelength, .x-btn-text .gx-map-measurearea {
    padding-top: 50px;

}


.x-btn-pressed  .gx-map-measurearea {
    /* border: 5px solid #006699;  */
    background-color: #dddddd;
}

.x-btn-pressed  .gx-map-measurelength {
    /* border: 5px solid #006699;  */
    background-color: #dddddd;
}
