/*  css */


@media screen and (max-width: 640px) {
    #header{
              display: none;
    }
}

body {
   font-family: arial, sans, helvetica;
   margin: 0 !important;
}

div.olControlZoom.olControlNoSelect {
    position: absolute;
    top: 65px !important;
    right: 8px !important;
    left: auto;
}


div.olcontrolmouseposition {
 font-size: 12px;
 font-weight: bold;
 top: auto !important;
 bottom: 10px !important;
 left: 20px !important;

}

#header {
top: 0;
width: 100%
height: 40px;
}



#header table {
    width: 100%;
}

a {
   text-decoration: none;
}

#toolbar {
 position: absolute;
 float: right;
 top: 50px;
 right: 0;
 height: 50px;
 left: 0px;
 background-color: #989898;
 z-index: 1200;
 padding: 10px;
}


#menu {
    position: absolute;
    top: 50px;
    left: 10px;
    /*height: 300px;  */
    background-color: #989898;
    z-index: 1300;
    width: 300px;
}

#logo {
    background-image: url(img/logo_bund.jpg);
    width: 300px;
    height: 96px;
    background-color: #989898;
}

#header table tr td:first-child {
   width: 20%
}

#header table tr td:nth-child(2) {
    width: 50%
}
#header table tr td:nth-child(3) {
   width: 12%
}
#header table tr td:last-child {
  width: 8%
}

.block_header {
	font-weight: bold;
        font-size:1.4em;
        text-align:center;
        background-color: #989898;
        color: #fff;
}
.toggle_accordion {
        font-size: 0.6em;
        font-size: bold;
        text-align:center;
        background-color: #f00;
        color: #fff;
}

.toggle_accordion a {
        text-decoration: none;
	font-weight: bold;
        color: #fff;
}
.toggle_accordion  div.arrow {
	width: 0px;
	height: 0px;
	float: right;
	margin-top: 2px;
	margin-right: 10px;
	visibility: visible;
	background-color: transparent;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

.toggle_accordion  div.arrow.down{
	border-top: 0;
        border-bottom: 6px solid #fff;
}

.toggle_accordion  div.arrow.up{
	border-bottom: 0;
        border-top: 6px solid #fff;
}


.trapeze{
    width: 80%;
    height: 1px;
    border: solid 90px transparent;
    border-bottom: solid 50px #f00;
    border-top: none;
    filter: alpha(opacity=40);
    -moz-opacity:.40;
    opacity:.40;
    text-align: center;
    
}

.trapeze p {
   padding: 10px;
   color:#EEE; 
   font-size:20px; 
   font-weight:bold;
   margin: 0;
}

#swisssearch {
    float: left;
}
.geoadmin-layertool {
    overflow:hidden; 
    /* width:350px;  */
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background-image: url("img/arrow.gif"); /* no-repeat scroll 319px 5px #58B14C;*/
    background-position: right;
    background-repeat: no-repeat;
    background-color: #8c8c8c;
    float:right;
    margin-top: 8px;
    width: 250px;
}

div#lang {
    width: 75px;
    margin: 0 10px 5px 0;
}

select { 
    border:0; 
    color:#aaa; 
    background:transparent;
    font-size:20px; 
    font-weight:bold; 
    padding:2px 10px; 
    width:350px; /*background:#58B14C; */ 
    -webkit-appearance: none;  
}


/*input, textarea,  option {
 background-color:#fff;
 } */
input, textarea {
 padding:3px;
 border:1px solid #ccc;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #aaa inset;
 height: 30px;
 }


.autocompletion a {
  font-size: 12px;

}

.geoadmin-swisssearchlight {
    width: 350px;
    padding-left: 350px;
    padding-top: 10px;
    float: left;
}

.geoadmin-swisssearchlight input {
    color:#ddd; 
    font-style: italic;
}


#footer {
     font-size: 12px;}

#coords {
    float:left;
    width: 100px;
}
#copyright {
    float: right;
    width: 200px;
}

/*
CSS3 Accordions
Heavily modified ffrom http://www.webdevtuts.net
*/

	
/* --- accordion body --- */
div.accordion-container {
	width: 300px;	/* total width = 510 */
	height: 100%;
	padding: 0; /*5px; */
	margin-left: auto;
	margin-right: auto;
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: normal;
	/* CSS3 radius */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-background-clip: padding-box;
        display: block;
}

/*div.accordion-container:target {
   diplay: block;
}  */
	
/* --- lists global --- */
div.accordion-container ul,
div.accordion-container li {
	padding: 0px;
	margin: 0px;
	list-style: none;
	line-height: normal;
}
	
/* --- links global --- */
div.accordion-container a {
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: normal;
	text-decoration: none;
	outline: none;
}
	
div.accordion-container a:hover {
	text-decoration: underline;
}
	
/* --- accordion header label --- */
div.accordion-container li.block_header {
	width: 100%;
	height: 12px;	/* total height = 38 */
	padding: 0px 10px 10px 10px;
	font-weight: bold;
    font-size: 1.2em;
    text-align:center;

}

	
/* --- single block arrow --- */
div.accordion-container li.block div.arrow {
	width: 0px;
	height: 0px;
	float: right;
	margin-top: -22px;
	margin-right: 10px;
	visibility: visible;
	background-color: transparent;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0;
        border-top: 4px solid #aaaaaa;
}

/* --- single block label --- */
div.accordion-container li.block a.header {
	height: 20px;
	padding: 10px 10px 8px 10px;
	display: block;
	color: #666666;
	text-shadow: 0px 1px 0px #ffffff;
    font-size: 18px;
    font-weight: bold;
	/* CSS3 transition */
	-webkit-transition: padding-left 0.1s ease-out;
	-moz-transition: padding-left 0.1s ease-out;
	-o-transition: padding-left 0.1s ease-out;
	-ms-transition: padding-left 0.1s ease-out;
	transition: padding-left 0.1s ease-out;
}


	
/* --- single block section --- */
div.accordion-container li.block div {
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	/* CSS3 transition */
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}
	
/* --- single block section paragraph --- */	
div.accordion-container li.block div p {
	padding: 10px 10px 10px 10px;
	margin: 0px;
	position: relative;
	top: 50px;
}
	
/* --- single block target --- */
div.accordion-container li.block:target,
div.accordion-container li.block.target {
	width: 100%;
}


	
/* --- single block section target --- */
div.accordion-container li:target div,
div.accordion-container li.target div {
	width: 100%;
	height: 150px;	/* expanded section height */
	visibility: visible;
	overflow: hidden;
}

div.accordion-container li#block_5 div {
	width: 100%;
	height: 200px;	/* expanded section height */
	visibility: visible;
	overflow: auto;
   background-color: #ffffff;
}

	
/* --- single block section paragraph target --- */	
div.accordion-container li.block:target div p,
div.accordion-container li.block.target div p {
	top: 0px;
	z-index: 0;
	/* CSS3 transition */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
	
/* --- single block arrow target --- */		
div.accordion-container li.block:target div.arrow,
div.accordion-container li.block.target div.arrow {
	margin-top: -23px;
}

/* --- accordion body --- */
div.accordion-container {
	color: #666666;
	background-color: #aaa;
}


/* --- accordion header label --- */
div.accordion-container li.block_header {
	color: #ffffff;
}
	
/* --- single block --- */
div.accordion-container li.block {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #bcbcbc;
	background-color: #fff; /* background color for non-css3 browsers like Internet Explorer */
	/* CSS3 gradient */
	background-image: linear-gradient(top, #fff, #fff); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff'); /* IE8 */
	background: -ms-linear-gradient(top, #fff, #fff); /* IE9 */
	background: -moz-linear-gradient(top, #fff, #fff); /* Firefox */ 
	background: -o-linear-gradient(top, #fff, #fff); /* Opera 11  */
	background: -webkit-linear-gradient(top, #fff, #fff); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #fff)); /* Chrome 10, Safari */
}
	
div.accordion-container li.block:nth-last-child(1) {
	border-bottom: 0;
}
	


	
/* ---  single block label target --- */
div.accordion-container li.block.target a.header {
	color: #222222;
        font-weight: bold;
	text-shadow: 0px 1px 0px #ffffff;
	border-bottom: 1px solid #bcbcbc;
	background-color: #fff; /* background color for non-css3 browsers */
	/* CSS3 gradient */
	background-image: linear-gradient(top, #ffff, #fff); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff'); /* IE8 */
	background: -ms-linear-gradient(top, #fff, #fff); /* IE9 */
	background: -moz-linear-gradient(top, #fff, #fff); /* Firefox */ 
	background: -o-linear-gradient(top, #f5f5f5, #ececec); /* Opera 11  */
	background: -webkit-linear-gradient(top, #fff, #fff); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #ececec)); /* Chrome 10, Safari */	
}

/* ---  single block hover --- */	
div.accordion-container li.block a.header:hover {
        text-decoration: none !important;
	/* padding-left: 20px; */
        color: white !important;
        text-shadow: 0px 1px 0px #aaa !important;
	background-color: #f00; /* background color for non-css3 browsers */
	/* CSS3 gradient */
	background-image: linear-gradient(top, #f00, #f55); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f00', endColorstr='#f55'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f00', endColorstr='#f55'); /* IE8 */
	background: -ms-linear-gradient(top, #f00, #f555); /* IE9 */
	background: -moz-linear-gradient(top, #f00, #f55); /* Firefox */ 
	background: -o-linear-gradient(top, #f00, #f55); /* Opera 11  */
	background: -webkit-linear-gradient(top, #f00, #f55); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f00), color-stop(1, #f55)); /* Chrome 10, Safari */
}


		
/* --- single block section target --- */
div.accordion-container li:target div,
div.accordion-container li.target div {
	background-color: #ffffff;
	border-top: 1px solid #ececec;
}	


