body {
    font-family: arial, sans, helvetica;
    width: 100%;
}

h1 {font-size: 1.5em;}

label{
    font-weight: bold;
    background-color: #ddd;
    width: 100%;
}

.x-panel-body {
    float: left
}

.x-hide-display {
    display: none
}

img {
    display: block;
}
div.x-panel-body div {padding-top: 20px;}
