.navigationhistory_previous,
.navigationhistory_next {
    background-image: url("../img/navigationhistory.png") !important;
}

.navigationhistory_previous:hover,
.navigationhistory_next:hover {
    background-image: url("../img/navigationhistory_over.png") !important;
}

.navigationhistory_previous {
    background-position: 0 0 !important;
}

.navigationhistory_next {
    background-position: -16px 0 !important;
}

#geoadmin_navigation_history table {
   margin: 0 !important; 
}
