.x-toolbar .navigationhistory_previous,
.x-toolbar .navigationhistory_next {
    background-image: url("../img/navigationhistory.png");
}

.x-toolbar .navigationhistory_previous {
    background-position: 0 0;
}

.x-toolbar .navigationhistory_next {
    background-position: -16px 0;
}
