.navigationhistory_previous,
.navigationhistory_next {
    background-image: url("../img/navigationhistory.png") !important;
}

.navigationhistory_previous {
    background-position: 0 0 !important;
}

.navigationhistory_next {
    background-position: -16px 0 !important;
}
