/* http://www.patternify.com/ */
.olControlSwipe {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAEklEQVQImWNkwAH+MzD8R+YDAB01AgCiWDp3AAAAAElFTkSuQmCC) repeat;
    display: none;
}

.olControlSwipeHover {
    cursor: move;
}

.olControlSwipeLayerView {
    background-color: white;
    height: 18px;
    width: 250px;
    margin-top: 10px;
    margin-left: -260px;
    display: block;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: 700;
    padding-top: 2px;
}

.olControlSwipeLayerHide {
    display: none;
}


