.autocompletion {
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    border: 1px solid black;
    display: none;
    z-index: 2000;
}

.autocompletion A:link {
   text-decoration: none;
    color: black;
}

.autocompletion A:visited {
    text-decoration: none;
    color: black;
}

.autocompletion A:active {
    text-decoration: none;
    color: black;
}

.autocompletion A:hover {
    text-decoration: none;
    color: red;
}

.attributes {
    background-color: #FF8000;
}
