.advanced-window .x-accordion-hd {
	background-image: url(../images/light-hd.gif);
    background-position: -2px 0px;
    color: white;
    font-weight: bold !important;
    background-color: #fff;
    text-align: left;
   
}

.x-panel-collapsed  .x-accordion-hd {
   background-repeat: no-repeat;
   /* background-position: 0 4px; */
   /* padding-left: 25px;     */
   color: black;
   background-color:white;

}
.x-accordion-hd  .x-tool {
    float: left;
    /* background-image: url(../images/open.gif);
    background: none no-repeat scroll 0 0 transparent;  */
    cursor: pointer;
    height: 15px;
    margin-left: 4px;
    margin-right: 10px;
    overflow: hidden;
    width: 15px;

}

.x-accordion-hd .x-tool-toggle {

    background-position: 0px 0px;
    background-image: url(../images/ef_open-close_options.png);
}
  /* closed */
.x-panel-collapsed .x-accordion-hd  .x-tool-toggle {

    background-position: -15px 0px;
    background-image: url(../images/ef_open-close_options.png);
}


.x-toolbar .advancedfunctions {
    background-image: url(../images/advanced-functions.gif);
    background-position: 0 2px;
     font-weight: bold;
}
.advanced-window-panel {
    background-color: white;
    text-align: left;
    border-bottom: 1px solid black;
}

.advanced-window-panel-header {
    font-weight: bold;
    background-image: url(../images/light-hd.gif);
    background-position: -2px 0px;
    color: white;
    /* border-top: 1px solid black;    */
    /* border-bottom: 1px solid black;    */
}
#legendAction {
    position: relative !important;
    float: left !important;
    margin: 5px;

}


	
