.x-accordion-hd {
	background-image: url(../images/light-hd.gif);
     color: white;
     font-weight: bold;
    background-color: #fff;
    margin
}

.x-panel-collapsed > .x-accordion-hd {
   background-repeat: no-repeat;
   background-position: 0 4px;
   padding-left: 25px;
   color: black;

}
x-tool {
    float: left !important;
    background-image: url(../images/closed.gif);
}

.advanced-window {

    background-color: white;
    border-color: -moz-use-text-color -moz-use-text-color black black;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;


}