.redlining-panel-ct {
    background-color: #ffffff;
}

.redlining-panel .x-toolbar {
    border-style: none !important;  
}

.x-btn-icon .x-btn-small .x-btn-text {
    height: 16px !important;
    width: 16px !important;
}

.gx-featureediting-draw-point {
  background-image: url("../images/bullet_red_add.png") !important;
}

.gx-featureediting-draw-line {
  background-image: url("../images/line_red_add.png") !important;
}

.gx-featureediting-draw-polygon {
  background-image: url("../images/shape_square_red_add.png") !important;
}

.gx-featureediting-draw-label {
  background-image: url("../images/tag_blue_add.png") !important;
}

.gx-featureediting-editfeature {
  background-image: url("../images/pencil.png") !important;
}

.gx-featureediting-delete {
  background-image: url("../images/delete.png") !important;
}

.gx-featureediting-import {
  background-image: url("../images/page_white_goback.png") !important;
}

.gx-featureediting-export {
  background-image: url("../images/page_white_go.png") !important;
}
