.permalink-panel {
    z-index: 1305;
    background-color: white;
    border-color: -moz-use-text-color -moz-use-text-color black black;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    padding: 10px;
    position: absolute;
    right: -1px;
    top: -1px;
}
.permalink-panel .x-toolbar {
    border: 0 none !important;
	background-color: transparent;
    float: right;
    margin-right: -10px;
    margin-top: -33px;
}
.permalink-panel .x-btn-tl, .permalink-panel .x-btn-tr, .permalink-panel .x-btn-tc, .permalink-panel .x-btn-ml, .permalink-panel .x-btn-mr, .permalink-panel .x-btn-mc, .permalink-panel .x-btn-bl, .permalink-panel .x-btn-br, .permalink-panel .x-btn-bc {
    background: none;
}
.permalink-panel-ct {
    overflow: visible;
}
.permalink-panel-header-text {
    font-family: arial,helvetica,verdana,sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0;
    text-decoration: none;
}
.permalink-panel-bwrap {
    margin-top: 10px;
}
.permalink-panel .close-button {
    background: url("../../images/close_button.png") no-repeat scroll 0 0 transparent !important;
}
