.permalink-panel {
    z-index: 1305;
    background-color: white;
    border-color: -moz-use-text-color -moz-use-text-color black black;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    padding: 10px;
    position: absolute;
    right: -1px;
    top: -1px;
}
.permalink-panel .x-toolbar {
    border: 0 none !important;
	background-color: transparent;
    float: right;
    margin-right: -10px;
    margin-top: -33px;
}
.permalink-panel .x-btn-tl, .permalink-panel .x-btn-tr, .permalink-panel .x-btn-tc, 
.permalink-panel .x-btn-ml, .permalink-panel .x-btn-mr, .permalink-panel .x-btn-mc, 
.permalink-panel .x-btn-bl, .permalink-panel .x-btn-br, .permalink-panel .x-btn-bc {
    background: none;
}
.permalink-panel-ct {
    overflow: visible;
}
.permalink-panel-header-text {
    font-family: arial,helvetica,verdana,sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0;
    text-decoration: none;
}
.permalink-panel-bwrap {
    margin-top: 10px;
}
.permalink-panel .close-button {
    background: url("../../images/close_button.png") no-repeat scroll 0 0 transparent !important;
}
.permalink-panel .share-button {
    background: url("../../images/share.gif") no-repeat scroll center transparent !important;
}
.permalink-panel .twitter-button {
    background: url("../../images/twitter.gif") no-repeat scroll center transparent !important;
}
.permalink-panel .facebook-button {
    background: url("../../images/facebook.gif") no-repeat scroll center transparent !important;
}
.permalink-panel .googleplus-button {
    background: url("../../images/googleplus.gif") no-repeat scroll center transparent !important;
}
.permalink-panel .mail-button {
    background: url("../../images/mail.gif") no-repeat scroll center transparent !important;
}
.permalink-panel .close-share-button  {
    background: url("../../images/fermer.gif") no-repeat scroll center transparent !important;
}
.permalink-panel .facebook-button, .permalink-panel .twitter-button, .permalink-panel .googleplus-button, .permalink-panel .share-button,
.permalink-panel .close-share-button, .permalink-panel .mail-button {
    height: 16px;
    float: right;
    position: relative;
    top: 2px;
}
.permalink-panel .share-button {
    padding-right: 10px;
}
.permalink-panel .textLabelIni {
    font-size: 1.03em;
    font-weight: bold;
    padding-right: 1px;
    position: relative;
    top: 1px;
}
.permalink-panel .textLabel {
    font-size: 1.03em;
    font-weight: bold;
    padding-right: 7px;
    position: relative;
    top: 2px;
}
#twitterId .x-btn-text, #facebookId .x-btn-text, #googleplusId .x-btn-text, #mailId .x-btn-text, #closeShareId .x-btn-text {
    height: 10px !important;
}
.permalink-panel .textLabel, .permalink-panel .facebook-button, .permalink-panel .twitter-button, .permalink-panel .googleplus-button,
.permalink-panel .close-share-button, .permalink-panel .mail-button {
    display: none;
}
.facebook-button .x-btn-text, .twitter-button .x-btn-text, .googleplus-button .x-btn-text, .close-share-button .x-btn-text, .mail-button .x-btn-text {
    width: 16px;
    position: relative;
    top: 2px;
    left: -2px;
}
.facebook-button .x-btn-text, .googleplus-button .x-btn-text, .mail-button .x-btn-text {
    border-left: 0.1em solid #000000;
}
.permalink-panel .share-button {
    display: block;
}
