
.olcontroloverviewmapcontainer { top: 0 !important}

.olControlOverviewMapMinimizeButton .olButton {
    right: 0;
    bottom: 80px;
    position: static !important;
}

.olControlOverviewMapMaximizeButton .olButton {
    right: 0;
    bottom: 80px;
    position: static !important;
}


.x-toolbar .print {
    background-image: url('../media/print.png');
}

.olcontroloverviewmapminimizebutton {
    top: 0;
}

.olcontroloverviewmapmaximizebutton {
    top: 99px;
}

.olControlPanZoomBar {
    background-image: url("../media/print.png");
    right: 40px !important;
    top: 120px !important;
    left: auto !important;
}

.olControlPanel  {
    right: 4px !important;
    top: 380px !important;
    left: auto !important;
}
